.Div-ListItems {
  display: flex;
  flex-direction: column;
  background-color: black;

  .Div-ListItem {
    text-align: center;

    border-bottom:  1px solid black;

    &:hover {
      opacity: .9
    }

    background-color: white;
    padding: 0.5rem;

    &--active {
      @extend .Div-ListItem;
      opacity: .9;
    }
  }
}