.Div-List {
  display: flex;
  flex-direction: column;

  .Div-ListItems {
    text-align: center;

    border-bottom:  1px solid black;

    &:hover {
      opacity: .9
    }

    background-color: white;
    padding: 0.5rem;



    &--active {
      @extend .Div-ListItems;
      opacity: .9;
    }


    &:last-child {
      border-bottom: none;
    }
  }
}