body{
  margin: 0;
}

.Main{
  display: flex;
  position: fixed;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.GameField{
  width: fit-content;
}

input{
  margin-Left: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.Button{
  //margin-left: 20px;
  width: 100px
}

.DragableList{
  margin-top: 25px;
}

.List{
  margin-top: 25px;
  height: 390px;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.CreateGameButton{
  margin-top: 20px;
}