body{
  margin: 0;
}

.Main{
  display: flex;
  position: fixed;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.GameField{
  width: fit-content;


}

.Button{
  margin-left: 20px;
  width: 100px
}